@import "compass"

$link-color:         #0388a6
$link-hover-color:   #009ce0
$link-focus-color:   false
$link-active-color:  false
$link-visited-color: false

$font-color:  #2a2a2a
$font-family: sans-serif
$base-font-size:   12px
$base-line-height: 18px

$total-cols: 12
$col-width: 4em
$gutter-width: 1em
$side-gutter-width: $gutter-width

@include global-reset

body
  font-family: $font-family
  color: $font-color

a
  +hover-link
  +link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color)

#main
  padding: 50px

.clearfix
  clear: both

.hidden
  display: none

@mixin one-line-centered($height)
  line-height: $height
  height: $height
  text-align: center

$vk_numbers_button_size: 3em
$vk_numbers_background: rgb(200,220,220)
$vk_numbers_color: black

#vk_numbers, #vk_arrows
  ul
    +inline-block-list
    li
      border: 1px solid black
      margin: 2px
      width: $vk_numbers_button_size
      +one-line-centered($vk_numbers_button_size)
      background: $vk_numbers_background
      font-weight: bold
      -moz-user-select: none
      -khtml-user-select: none
      &:hover
        cursor: pointer
        background: invert($vk_numbers_background)
        color: invert($vk_numbers_color)

$posop_cell_size: 3em
$posop_cell_color: #FFE773

div#posop
  td
    vertical-align: center
    text-align: center
    width: $posop_cell_size / 1.33
    height: $posop_cell_size
    border: 1px dashed black
    font-weight: bold
    &:nth-child(even)
      background: lighten(complement($posop_cell_color), 15%)
    &:nth-child(odd)
      background: $posop_cell_color
    &.selected
      border: 2px dashed black
      background: yellow
    &.bottom-line
      border-bottom: 2px solid black
    &.left-line
      border-left: 2px solid black
  div#posop_export, div#posop_table
    float: left


#posop_canvas
  display: none

div#posop_keyboards
  div
    float: left
    padding: 5px

div#posop_options, div#posop_commands
  button.btn
    height: 3em
    font-weight: bold
    &.toggle
      color: gray
      &.toggled
        color: black
