<% content_for :head do %>
  <%= javascript_include_tag "keyboard" %>
  <title>Visual keyboards tools</title>
<% end%>

<input id="vk_numbers_target" value="" type="text"></input>

<hr />

<div id="vk_numbers">
  <ul>
    <li class="key">7</li>
    <li class="key">8</li>
    <li class="key">9</li>
    <li class="key">/</li>
  </ul>
  <ul>
    <li class="key">4</li>
    <li class="key">5</li>
    <li class="key">6</li>
    <li class="key">*</li>
  </ul>
  <ul>
    <li class="key">1</li>
    <li class="key">2</li>
    <li class="key">3</li>
    <li class="key">-</li>
  </ul>
  <ul>
    <li>&nbsp;</li>
    <li class="key">0</li>
    <li class="key">.</li>
    <li class="key" data-key="plus">+</li> <!-- I need to specify the data-key to use for this keyboard shortcut. -->
  </ul>
</div>

<hr />

<div id="vk_arrows">
  <ul>
    <li class="key" data-key="left">&larr;</li>
    <li class="key" data-key="down">&darr;</li>
    <li class="key" data-key="up">&uarr;</li>
    <li class="key" data-key="right">&rarr;</li>
  </ul>
</div>
