<% content_for :head do %>
  <%= javascript_include_tag "wposops" %>
  <title>Posop web</title>
<% end%>

<div id="posop">
  <table>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<hr />
<div id="vk_numbers">
  <ul>
    <li class="key">7</li>
    <li class="key">8</li>
    <li class="key">9</li>
    <li class="key">/</li>
  </ul>
  <ul>
    <li class="key">4</li>
    <li class="key">5</li>
    <li class="key">6</li>
    <li class="key">*</li>
  </ul>
  <ul>
    <li class="key">1</li>
    <li class="key">2</li>
    <li class="key">3</li>
    <li class="key">-</li>
  </ul>
  <ul>
    <li>&nbsp;</li>
    <li class="key">0</li>
    <li class="key">.</li>
    <li class="key" data-key="plus">+</li> <!-- I need to specify the data-key to use for this keyboard shortcut. -->
  </ul>
</div>

